In [1]:
import wrds
from datetime import datetime, timedelta
import time
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import mysql.connector as mc
from mysql.connector import Error
import yfinance as yf

In [2]:
# Create a connection string (replace placeholders with your actual database credentials)
db_connection_str = 'mysql+mysqlconnector://icey:cyvfyv-zipnoK-0jucty@iceydatabase.caqw1q4tuhyj.us-east-1.rds.amazonaws.com/vanguard'
# Create database connection
db_connection = create_engine(db_connection_str)
# etf_query = 'select distinct permno from ETF_Holdings'
# df = pd.read_sql(etf_query, con = db_connection)
# print(df.head())

In [7]:
path = '/Users/ywang203/Documents/UPenn/CIS550/GroupProject/cis5500-project/dataAcquisition/stocks/stock_tickers.csv'
stocks = pd.read_csv(path)
tickers = stocks["ticker"]

ticker_recheck = []
data = []
tickers_bad = ["LSI", "DEN", "VMW", "AJRD", "ARNC", "ATVI", "RETA"]

for i in tickers:
    try:
        if i not in tickers_bad:
            ticker = yf.Ticker(i)
            info = ticker.info
            sector = info.get('sector', 'N/A')  # Use 'N/A' if not found
            industry = info.get('industry', 'N/A')
            country = info.get('country', 'N/A')
            # Append the information as a dictionary to the data list
            data.append({"ticker": i, "sector": sector, "industry": industry, "country": country})
        else:
            pass
    except:
        tickers_recheck.append(i)
df_info = pd.DataFrame(data)

In [8]:
result = pd.merge(stocks, df_info, on = 'ticker', how = 'left').drop_duplicates(keep = 'first')
result

,Stock_PERMNO,nameenddt,ticker,comnam,sector,industry,country
0,13721,19720,ABBV,ABBVIE INC,Healthcare,Drug Manufacturers - General,United States
1,57904,19720,AFL,AFLAC INC,Financial Services,Insurance - Life,United States
2,66800,19720,AIG,AMERICAN INTERNATIONAL GROUP INC,Financial Services,Insurance - Diversified,United States
3,14702,19720,AMAT,APPLIED MATERIALS INC,Technology,Semiconductor Equipment & Materials,United States
4,89179,19720,ELV,ELEVANCE HEALTH INC,Healthcare,Healthcare Plans,United States
...,...,...,...,...,...,...,...
777,51423,19720,MCS,MARCUS CORP,Communication Services,Entertainment,United States
778,13405,19720,CG,CARLYLE GROUP L P,Financial Services,Asset Management,United States
779,91516,19720,AWI,ARMSTRONG WORLD INDS INC NEW,Industrials,Building Products & Equipment,United States
780,28804,19720,ALK,ALASKA AIRGROUP INC,Industrials,Airlines,United States
781,15272,19720,SEDG,SOLAREDGE TECHNOLOGIES INC,Technology,Solar,Israel

In [13]:
result['active'] = (~result['country'].isna()).astype(int)
result

,Stock_PERMNO,nameenddt,ticker,comnam,sector,industry,country,active
0,13721,19720,ABBV,ABBVIE INC,Healthcare,Drug Manufacturers - General,United States,1
1,57904,19720,AFL,AFLAC INC,Financial Services,Insurance - Life,United States,1
2,66800,19720,AIG,AMERICAN INTERNATIONAL GROUP INC,Financial Services,Insurance - Diversified,United States,1
3,14702,19720,AMAT,APPLIED MATERIALS INC,Technology,Semiconductor Equipment & Materials,United States,1
4,89179,19720,ELV,ELEVANCE HEALTH INC,Healthcare,Healthcare Plans,United States,1
...,...,...,...,...,...,...,...,...
777,51423,19720,MCS,MARCUS CORP,Communication Services,Entertainment,United States,1
778,13405,19720,CG,CARLYLE GROUP L P,Financial Services,Asset Management,United States,1
779,91516,19720,AWI,ARMSTRONG WORLD INDS INC NEW,Industrials,Building Products & Equipment,United States,1
780,28804,19720,ALK,ALASKA AIRGROUP INC,Industrials,Airlines,United States,1
781,15272,19720,SEDG,SOLAREDGE TECHNOLOGIES INC,Technology,Solar,Israel,1

In [14]:
result.to_sql('stocks', con = db_connection, if_exists = 'replace', index = False)

-1

In [66]:
wrds_db = wrds.Connection(wrds_username='yukiway')
stock_query = f"""select aa.* from 
                (SELECT *, ROW_NUMBER() over (partition by ticker order by nameenddt DESC) as rn 
                from crsp.stocknames) aa where rn = 1 and permno IN ({','.join(stock_permno_list)})"""
stock_df = wrds_db.raw_sql(stock_query)
# wrds_db.close()

Loading library list...
Done

In [13]:
#Trying to build connections to MySQL Database
try:
    connection = mc.connect(
        host = 'iceydatabase.caqw1q4tuhyj.us-east-1.rds.amazonaws.com',
        port = '3306',
        user = 'icey',
        password = 'cyvfyv-zipnoK-0jucty',
        database = 'vanguard'
    )
    if connection.is_connected():
        database_info = connection.get_server_info()
        print("Connected to MySQL Server", database_info)
        
        cursor = connection.cursor()
        cursor.execute("select * from ETFs")
        rows = cursor.fetchall()
        column_names = [i[0] for i in cursor.description]
        etf_list = pd.DataFrame(rows, columns = column_names)
except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server 8.0.35

In [ ]:
#Trying to build connections to MySQL Database
try:
    connection = mc.connect(
        host = 'iceydatabase.caqw1q4tuhyj.us-east-1.rds.amazonaws.com',
        port = '3306',
        user = 'icey',
        password = 'cyvfyv-zipnoK-0jucty',
        database = 'vanguard'
    )
    if connection.is_connected():
        database_info = connection.get_server_info()
        print("Connected to MySQL Server", database_info)

        # cursor = connection.cursor()
        # cursor.execute()
except Error as e:
    print("Error while connecting to MySQL", e)

# if connection.is_connected():
#     cursor.close()
    connection.close()
    print("MySQL connection is closed")